{% extends "forecast_app/base.html" %}
{% block content %}
{% load humanize %}
<div class="flex justify-center items-center min-h-[70vh] px-4">
    <div class="bg-white rounded-xl shadow-md p-10 w-full max-w-2xl">

        <!-- Title -->
        <h1 class="text-3xl font-bold text-gray-800 mb-2">
            Average Current Balance
        </h1>
        <p class="text-gray-500 mb-6">
            Calculated from average monthly income and expense
        </p>

        <!-- Value Card -->
        <div class="bg-green-50 border-l-4 border-green-500 rounded-lg p-6 mb-8">
            <p class="text-green-700 font-semibold mb-2">
                💰 Your Average Current Balance
            </p>
            <p class="text-4xl font-bold text-green-700">
                ₹{{ avg_current_balance|floatformat:2|intcomma  }}
            </p>
        </div>
    </div>
</div>

{% endblock %}
