{% extends 'forecast_app/base.html' %}
{% block content %}
<div class="row justify-content-center">
        <div class="col-md-6">
            <a href="{% url 'inctable' %}" class="btn btn-primary"><i class="fas fa-arrow-left"></i>Return to Table</a><br><br>
            <div class="card shadow">
                <div class="card-body">
                    <h2 class="ms-3">Category Form</h2>
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{form.as_p}}
                        <button type="submit">Enter</button>
                    </form>
                </div>
            </div>
        </div>
    </div> 
{% endblock %}
